In [1]:
import os
import typing as t
import pandas as pd

In [2]:
cwd: str = os.getcwd()  # Replacement for: os.path.dirname(os.path.abspath(__file__))
BASE_DIR: str = os.path.dirname(cwd)
# print(cwd)
# print(BASE_DIR)
DATA_DIR: str = os.path.join(BASE_DIR, "data")  # raw
CACHE_DIR: str = os.path.join(BASE_DIR, "cache")  # processed
os.makedirs(CACHE_DIR, exist_ok=True)

In [3]:
# Let's check whether we have the files locally
my_data = os.path.join(DATA_DIR, '2019.csv')
print(os.path.exists(my_data))

True

In [4]:
os.listdir(DATA_DIR)

['2008.csv',
 '2020.csv',
 '2009.csv',
 '2019.csv',
 '2018.csv',
 '2001.csv',
 '2015.csv',
 '2014.csv',
 '2000.csv',
 '2016.csv',
 '2002.csv',
 '2003.csv',
 '2017.csv',
 '2013.csv',
 '2007.csv',
 '2006.csv',
 '2012.csv',
 '2004.csv',
 '2010.csv',
 '2011.csv',
 '2005.csv']

In [5]:
# Let's combine our data into a single df. Loop through files and add columns
# and create dataframes. Store all in list and later concat together into one df.
# NOTE: Here's a one-liner: 
# df = pd.concat([pd.read_csv(fp).assign(New=os.path.basename(fp)) for fp in files])

all_dataframes: t.List = []
csv_files: t.List[str] = [x for x in os.listdir(DATA_DIR) if x.endswith('.csv')]
# print(csv_files)
for filename in csv_files:
    print(filename)
    year: str = filename.replace(".csv", "")  # or filename[:4]
    csv_path: str = os.path.join(DATA_DIR, filename)
    # Read csv into temp df
    temp_df = pd.read_csv(csv_path)
    # Add a "Year" and "filename" columns with filename value
    temp_df["year"] = year
    temp_df["filename"] = filename

    # Append this dataframe to list of all dataframes
    all_dataframes.append(temp_df)

2008.csv
2020.csv
2009.csv
2019.csv
2018.csv
2001.csv
2015.csv
2014.csv
2000.csv
2016.csv
2002.csv
2003.csv
2017.csv
2013.csv
2007.csv
2006.csv
2012.csv
2004.csv
2010.csv
2011.csv
2005.csv

In [6]:
df_final = pd.concat(all_dataframes)
display(df_final.head(), df_final.tail())
# display(df_final.tail())

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,year,filename
0,1,The Dark Knight,"$1,003,045,358","$533,345,358",53.2%,"$469,700,000",46.8%,2008,2008.csv
1,2,Indiana Jones and the Kingdom of the Crystal S...,"$790,653,942","$317,101,119",40.1%,"$473,552,823",59.9%,2008,2008.csv
2,3,Kung Fu Panda,"$631,744,560","$215,434,591",34.1%,"$416,309,969",65.9%,2008,2008.csv
3,4,Hancock,"$629,443,428","$227,946,274",36.2%,"$401,497,154",63.8%,2008,2008.csv
4,5,Mamma Mia!,"$609,841,637","$144,130,063",23.6%,"$465,711,574",76.4%,2008,2008.csv

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,year,filename
550,551,Proteus: A Nineteenth Century Vision,"$1,246","$1,246",100%,-,-,2005,2005.csv
551,552,Spooky House 2005 Re-release,$637,$637,100%,-,-,2005,2005.csv
552,553,Steve + Sky,$624,$624,100%,-,-,2005,2005.csv
553,554,The Comedians of Comedy,$549,$549,100%,-,-,2005,2005.csv
554,555,The Dark Hours,$423,$423,100%,-,-,2005,2005.csv

In [7]:
# Export final combined dataframe to CACHE_DIR as CSV
dataset = os.path.join(CACHE_DIR, "movies-box-office-dataset.csv")
df_final.to_csv(dataset, index=False)